<div class="border-bottom">		
	<div class="row">
		<div class="col-md-6 text-left"> 
			<h4 class="logged-user">Welcome {{loggedUser.userFirstName}}</h4>
		</div>	
		<div class="col-md-6 text-right"> 
			<span class="dropdown setting-icon" dropdown on-toggle="toggled(open)">
		      <a href class="dropdown-toggle" dropdown-toggle>
		        <span aria-hidden="true" class="glyphicon glyphicon-asterisk"></span>
		      </a>
		      <ul class="dropdown-menu">
		        <li ng-repeat="choice in items">
		          <a href>{{choice}}</a>
		        </li>
		      </ul>
		       <a href="javascript:void(0);" ng-click="logout()">Logout</a>
		    </span>
		</div>	
	</div>
</div>
